table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}
#paging{
    width: 300px;
}
.button_clicked{
    color: red;
    font-weight: bold;
}
select{
    width: auto;
}
.create-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    width: 300px;
}

.form-popup {
    top: 50px;
    display: none;
    position: relative;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password], .form-container select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus,.form-container select:focus {
    background-color: #ddd;
    outline: none;
}


.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .btn:hover, .create-button:hover {
    opacity: 1;
}

.error{
    color: red;
}